* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

input {
    border: 0px solid #ced4da !important;
    border-radius: 2px !important;
    height: 35px;
}

input::placeholder {
    font-weight: 500;
    opacity: .5;
    color: #a2a2a2 !important;
    font-size: smaller;
}