* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

input {
    border: 0px solid #ced4da;
    border-radius: 2px;
    height: 35px;
}

textarea::placeholder,
input::placeholder {
    font-weight: 500;
    opacity: .5;
    color: #a2a2a2 !important;
    font-size: smaller;
}

.back-header {
    min-height: 50px;
}

.menu-top {
    width: 100%;
    background-color: white;
}